/.gitignore
/tsconfig.json
/tsconfig.production.json
/.eslint*
/.*ignore
/.vscode/
/.git/
/.husky/
/node_modules/
/docs/
/test/
/examples/
/src/test/
/src/examples/
/commitlint.config.js
/test-data/
*.test.js
*.test.js.map
*.test.d.ts
*.test.d.ts.map
/eslint.config.js
/utils/
